
.section__main {
	padding-top: 80px;
}

.section__main:last-child {
	margin-bottom: 400px;
}

.section__title {
	font-size: 40px;
	color: var(--white-color);
	text-align: center;
	padding-bottom: 1.3rem;
	font-weight: 500;
} 

.section__subtitle {
	font-size: 23px;
	color: var(--white-color);
	text-align: center;
	padding-bottom: .7rem;
	padding-left: 10px;
	padding-right: 10px;
}

section p {
	font-size: 18px;
	max-width: 450px;
	margin: 0 auto;
	color: var(--white-color);
	padding: 0 25px;
	text-align: center;
}
